body{
    margin: 0;
    background-image: url("images/background_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: white;
    min-height: 100vh;
    height: 100%;
    max-width: 800px;
    border-top: 20px solid yellow;
    border-bottom: 20px solid yellow;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}

.task-tabs{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
    gap: 10px;
    padding-bottom: 5px;
}


.task-tabs div{
    padding: 1em;
}

.task-area{
    border: 1px solid lightgray;
}

#under-line{
    height: 8px;
    background-color: orange;
    position: absolute;
    min-width: 54px;
    bottom: 0px;
    left: 0px;
    top: 50px;
    padding: 0px;
    transition: all 0.3s;

}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    
}

.task-done{
    text-decoration: line-through;
    color: black;
    background-color: gray;
}

.task-tabs div{
    cursor: pointer
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    text-align: center;
    margin: 10px 0 0 0;
    text-decoration: dotted;
    letter-spacing: 2px;
}

.caption{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

#task-input{
    text-align: start;
    width: 400px;
    border: 2px dashed orange;
    border-radius: 100px;
}

.input-area{
    text-align: center;
    margin: 1.5em;
}

.task-tabs{
    position: relative;
    display: flex;
    border-bottom: 3px dashed orange;
    font-family: 'Times New Roman', Times, serif;
    
}

footer{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}